@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: -webkit-linear-gradient(top, rgba(5,127,158,1) 0%, rgba(113,200,222,1) 100%);
    display: flex;
    font-family: 'Bungee', cursive;
    font-size: .7rem;
    color: rgba(17,17,17,1);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 5rem;
    padding: 4rem;
    text-align: center;
}
.padding {
    position: relative;
    background-color: rgba(17,17,17,.7);
    border-radius: 3px;
    padding-left: 5px;
}
.padding .shadow {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(17,17,17, 0.9);
    z-index: 10;
}
.shadow .marco-ganador {
    height: 100%;
    width: 134px;
    margin: 0 auto;
    box-shadow: 1px 1px 8px 3px #f7d865;
}
.scrollbox {    
    position: relative;
    width: 675px;
    height: 144px; 
    overflow: hidden;
}
.scrollbox::after {
    z-index: 20;
    content: '';
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 0;
    bottom: 0;
    background: #f7d865;   
    width: 2px;
}
.items {
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto ;
    position: relative;
    left: 0;
    transition: left 5s ease;
    will-change: auto left;
    width: max-content; /* Para que el ancho del contenedor dependa del número de items y los items se acoplen sobre el eje x  */
}
.item {
    border-radius: 3px;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(20,228,255,1) 100%);
    width: 124px;
    height: 124px;
    margin: 5px;
    text-align: center;
}
.scrollbox:hover .items {
     /* El cálculo del scrooll del div sería 134 (ancho item) *
    n items (n items hasta llegar al item ganador) - 2 ( para posicionarle en el centro del scrollbox) el
    ancho del item mas el margin que tiene a los lados (134px) multiplicado por los items */
}
.items-disponibles {
    width: 675px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.item.cabecera {
    padding: 5px;
}
.item img {
    width: 92px;
    height: 94px;
}
button {
    color: rgba(17,17,17,1);
    cursor: pointer;
    font-family: 'Bungee', cursive;
    font-size: .5rem;
    margin: 10px;
    padding: 5px 40px; 
    border-radius: 40px;
    transition: all .5s;
    background: #f7d865;
    border: none;
}
button:focus {
    outline: none;;
}
button:hover{
    background: #f2c829;
    box-shadow: 1px 1px 8px 3px #f2c829;
}